/* ==================== */
:root {
  --primary-color:  rgba(26, 146, 212, 1.000);
  --secondary-color: rgba(240, 180, 41, 1.000);
  --main-bg-color: rgba(226, 232, 240, 1.000);
  --basic-pad: .5em 1em;
}




/* ==== STYLE RESET ==== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
	  height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:repeat(6, 1fr) ;
    font-family: 'raleway';
}
img,
picture {
    width: 100%; /* Works better when inside a div */
}

/* ==========Header========== */


header {
    grid-column: 2/ 6;
    display: flex;
    flex-direction: column;
    padding: .5em 1em;
}
header>div,
.welcome-banner,
.profile
 {
    display: flex;
    justify-content: space-between;
    align-items:center;
    
    
}
header>div {
    padding: .5em 1em;
}
/* -------- Search Form -------- */

.search-form {
    align-self: center;
    display: flex;
    width: 100%;
}
#search-field {
    width: 100%;
    border: none;
    background-color: var(--main-bg-color);
    border-radius: 25px;
    margin: 0 1em;
    padding: .5rem 1rem;
}
.search-btn {
    background: none;
    border: none;
}
/* -------- Profile Section top/right corner -------- */

.profile {
    align-items: center;
    gap: 1rem;
    align-self: flex-start;
    margin-left: 2rem;
}
.profile h3 {
    white-space: nowrap;
}
/* -------- Welcome Section bottom/left corner -------- */

.welcome-wrap{
    display: flex;
    align-items: flex-end;
}

.welcome-avatar {
    width: 64px;
    height: 64px;
    margin-right: 2rem;
}
.header-profile-handle{
    margin-left: .5rem;
}
/* -------- Header menu buttons -------- */
.header-menu {
    display: flex;
    gap: 1em;
}
header .btn {
    background-color: var(--primary-color);
    color: white;
    padding: var(--basic-pad);
    /* margin: var(--basic-pad); */
    border-radius: 25px;
    font-weight:  500;
}
header b {
    color: black;
}
/* ==========Navigation========== */



nav,
nav a {
    background-color: var(--primary-color);
    color: white;

}
nav {
    grid-row: 1/ span 6;
    padding: 1rem;
}
.nav-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1em;
}
.nav-link{
    font-size: 1.125rem;
    font-weight: 600;
}
.logo{
    margin: 0rem 0rem 2rem;
    align-items: center;
}
.icon {
    width: 24px;
}

.logo-image {
    width: 48px;
}
.nav-item:nth-child(7) {
    margin-top: 4rem;
}
/* ==========Main Section========== */

main {
    background-color: var(--main-bg-color);
    grid-row: 2/7;
    grid-column: span 5;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 1em;
    padding: 1em;
    /* overflow: hidden; */
}
main h3{
    margin-bottom: .5em;
}
p {
    color: gray;
}
/* -------Projects section-------- */

.projects-wrap{
    grid-column: 1/2;
    grid-row: span 3;
    overflow: scroll;
    min-width: 300px;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    overflow: scroll;
}
.project-card {
    height: 200px;
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    border-left: 4px var(--secondary-color) solid;
}
.project-card-text{
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-icons-wrap{
    display: flex;
    gap: 1em;
    align-self: flex-end;
    margin-top: 1em;
}

/* -------Anouncements section-------- */

.announcements-wrap,
.trending-wrap{
    grid-column: 2/3;
}
.profiles-container,
.articles-container{
    background-color: white;
    padding: 1em .5em;
    border-radius: 8px;
    max-width: 300px;
    /* max-height: 100%; */
}
.article{
    margin: 1em;
    padding-bottom: 1rem;
    border-bottom: 1px lightgray solid;
}
.article-body {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article:last-child {
    border: none;
}

/* -------Trending section-------- */
 
.profile-card{
    display: flex;
    margin: 1em;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.profile-card-handle{
    color: black;
    font-weight: 500;
}
.profile-card-avatar {
    width: 48px;
    height: 48px;
}
